* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background: rgb(147, 192, 251);
  background: linear-gradient(
    90deg,
    rgba(147, 192, 251, 1) 0%,
    rgba(88, 157, 247, 1) 20%,
    rgba(75, 153, 255, 1) 100%
  );
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  background-color: 21;
}

.nav-links > a {
  color: #fff;
}

.container {
    background-color: #fff;
    padding: 10rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
     margin-bottom: 9rem;
     
  }
  
  .main-headtext {
    color: #4b99ff;
    font-size: 2rem;
    font-weight: 400;
  }

  .shuttle-service-form {
    width: 50%;
    padding: 1.5rem;
    box-shadow: -10px 11px 23px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
  }
  
  .first-formtext {
    padding: 1rem 0;
  }
  
  .input-order {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .same-space-input {
      display: flex;
      justify-content: space-between;
  }
  
  .width {
    width: 48%;
  }

  .second-width{
    width: 100%;
  }
  
  .inp-pad {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    border-color: black;
    margin-bottom: 1rem;
  }

  .submit {
    font-size: 1.2rem;
    padding: 0.5rem 2.5rem;
    border-radius: 1.5rem;
    background-color: #fff;
    border-color: #205ba9;
    color: #205ba9;
    cursor: pointer;
  }

  .lil-mar {
    margin-bottom: 2rem;
  } 
  
  .count{
    width: 20rem;
    display: flex;
    justify-content: space-between;
  }

  .counter{
    width: 9rem;
    display: flex;  
    justify-content: space-between;
    align-items: center;
  }

  .box{
    height: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    font-size: 1.5rem;
    border: 1px solid #000;
  }

  .count-size{
    font-size: 1.3rem;
  }
  
.contact-section {
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info {
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .icon-size {
    width: 6rem;
    padding-right: 1rem;
  }
  
  .footer {
    padding: 0.5rem 4rem;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links {
  }
  
  .footer-icon {
    width: 3rem;
  }
  