* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background: rgb(147, 192, 251);
  background: linear-gradient(
    90deg,
    rgba(147, 192, 251, 1) 0%,
    rgba(88, 157, 247, 1) 20%,
    rgba(75, 153, 255, 1) 100%
  );
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  background-color: 21;
}

.nav-links > a {
  color: #fff;
}

.container {
  background-color: #fff;
  padding: 8rem 4rem 0 4rem;
}

.main-headtext {
  color: #4b99ff;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.shuttle-service-textarea {
  width: 45%;
}

.first-textarea-content {
  padding-bottom: 2rem;
}

.shuttle-service-textarea > ul > li {
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.second-textarea-content {
  padding-bottom: 1rem;
}

.shuttle-service-form {
  width: 50%;
  padding: 1.5rem;
  box-shadow: -10px 11px 23px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.first-formtext {
  padding: 1rem 0;
}

.input-order {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.same-space-input {
  display: flex;
  justify-content: space-between;
}

.width {
  width: 48%;
}

.inp-pad {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border-color: black;
  margin-bottom: 1rem;
}

.checkbox-style {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 7rem 1.5rem;
  gap: 0.5em;
  margin-bottom: 0.8rem;
  margin-right: 2rem;
}

.lil-mar {
  margin-bottom: 1.2rem;
}

.fon {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.asterisk {
  color: #ff0000;
}

.submit {
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  border-color: #205ba9;
  color: #205ba9;
  cursor: pointer;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.icon-size {
  width: 6rem;
  padding-right: 1rem;
}

.footer {
  z-index: 1;
  padding: 0.5rem 4rem;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}

.footer-links {
}

.footer-icon {
  width: 3rem;
}

.hidden {
  display: none;
}

.modal {
  background: rgb(239, 248, 255);
  background: linear-gradient(
    180deg,
    rgba(239, 248, 255, 1) 0%,
    rgba(200, 236, 255, 1) 56%,
    rgb(121, 179, 255) 100%
  );
  color: #205ba9;
  border-radius: 1rem;
  width: 19rem;
  position: fixed;
  left: 40%;
  top: 20%;
  text-align: center;
  padding: 1rem;
  z-index: 4;
}

.modal-text-group {
  margin-top: 1rem;
}

.modal-p {
  padding-top: 0.5rem;
  font-size: 1.1rem;
}

.large-Text {
  font-size: 2rem;
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: #5a93dd;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  overflow-y: hidden;
}

.return-button {
  margin: 1.5rem 0 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #205ba9;
  color: #fff;
  cursor: pointer;
}
